

<header class="header">
    <div class=" container container shapka">
        <div class="mobile-nav">
            <a class="logo-link" href="./index.html">
                <svg class="grn-dots" width="16" height="16">
                    <use href="/img/images/icons.svg#icon-vector-t"></use>
                </svg>
                <svg class="grnharvest" width="135" height="12">
                    <use href="/img/images/icons.svg#icon-text-t"></use>
                </svg>
            </a>
            <svg class="nav-stroke" width="32" height="32">
                <use href="/img/images/icons.svg#icon-men-t"></use>
            </svg>
        </div>
        <div class="nav-btn">
            <nav>
                <ul class="header-list">
                    <li class="header-nav1"><a class="header-nav-a1" href="#how_it_works">How It Works</a></li>
                    <li class="header-nav2"><a class="header-nav-a2" href="#vegetables">Vegetables</a></li>
                    <li class="header-nav3"><a class="header-nav-a3" href="#reviews">Reviews</a></li>
                </ul>
            </nav>
            <button type="button" class="header-btn">Shop now</button>
        </div>
        
        <div class="overlay"></div>
      <div class="mob-menu">
        <button type="button" class="menu-close">
          <svg class="icon-close" width="32" height="32">
            <use href="/img/images/icons.svg#icon-cross-mob"></use>
          </svg>
        </button>
        <nav>
          <ul class="menu-list">
            <li class="mob-menu-item">
              <a class="menu-nav-mob" href="#how-it-works">How It Works</a>
            </li>
            <li class="mob-menu-item">
              <a class="menu-nav-mob" href="#vegetables">Vegetables</a>
            </li>
            <li class="mob-menu-item">
              <a class="menu-nav-mob" href="#reviews">Reviews</a>
            </li>
          </ul>
        </nav>
        <button type="button" class="btn-shop">Shop now</button>
      </div>
    </div>
</header>









