<section class="header">
  <div class="container">
    <div class="overlay is-open"></div>
    <div class="mob-menu is-open">
      <button type="button" class="menu-close">
        <svg class="icon-close" width="32" height="32">
          <use href="/img/images/icons.svg#icon-cross-mob"></use>
        </svg>
      </button>
      <nav>
        <ul class="menu-list">
          <li class="mob-menu-item">
            <a class="menu-nav-mob" href="#how-it-works">How It Works</a>
          </li>
          <li class="mob-menu-item">
            <a class="menu-nav-mob" href="#vegetables">Vegetables</a>
          </li>
          <li class="mob-menu-item">
            <a class="menu-nav-mob" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="btn-shop">Shop now</button>
    </div>
  </div>
</section>
