<section class="header">
  <div class="container shapka">
 <div class="mobile-nav">
   <svg class="grn-dots" width="16" height="16">
    <use href="../img/images/icons.svg#icon-vector-t"></use>
   </svg>
    <svg class="grnharvest" width="135" height="12">
      <use href="../img/images/icons.svg#icon-text-t"></use>
    </svg>
    <svg class="nav-stroke" width="32" height="32">
      <use href="../img/images/icons.svg#icon-men-t"></use>
    </svg>
    </div>
    <div class="nav-btn">
      <ul class="header-list">
        <li class="header-nav1"><a class="header-nav-a1" href="">How It Works</a></li>
        <li class="header-nav2"><a class="header-nav-a2" href="">Vegetables</a></li>
        <li class="header-nav3"><a class="header-nav-a3" href="">Reviews</a></li>
      </ul>
      <button type="button" class="header-btn">Shop now</button>
    </div>
</div>
</section>
