<section class="hero">
  <div class="container">
    <h1 class="hero-title">organic vegetables to your diet today!</h1>
    <p class="hero-text">
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>
  </div>
  <div class="hero-banner">
    <picture>
      <source
        media="(min-width:1280px)"
        srcset="
          /img/images/backet/backet-des@1x.jpg 1x,
          /img/images/backet/backet-des@1x.jpg 2x
        "
      />
      <source
        media="(min-width:768px)"
        srcset="
          /img/images/backet/backet-tabl@1x.jpg 1x,
          /img/images/backet/backet-tabl@1x.jpg 2x
        "
      />
      <source
        media="(max-width:767px)"
        srcset="
          /img/images/backet/backet-mobi@1x.jpg 1x,
          /img/images/backet/backet-mobi@1x.jpg 2x
        "
      />
      <img
        srcset="
          /img/images/backet/backet-mobi@1x.jpg 1x,
          /img/images/backet/backet-mobi@1x.jpg 2x
        "
        src="/img/images/backet/backet-des@1x.jpg"
        width="768"
        alt="Basket with vegetables"
      />
    </picture>
  </div>
</section>
