

<section class="section how-it-works" id="how-it-works">
  <div class="container how-it-works-container">
    <div class="process-intro">
      <h2 class="h2">How it works</h2>
      <div class="img-area">
        <picture class="img-display">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/images/apple/apple-desk@1x.jpg 1x,
              /img/images/apple/apple-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/images/apple/apple-tabl@1x.jpg 1x,
              /img/images/apple/apple-tab@2x.jpg  2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/images/apple/apple-mobil@1x.jpg 1x,
              /img/images/apple/apple-mobil@2x.jpg 2x
            "
          />
          <img
            class="img-display"
            src="/img/images/apple/apple-mobil@1x.jpg"
            alt="Woman preparing vegetables"
            width="335"
          />
        </picture>
      </div>
    </div>
    <div class="details-section">
      <div class="process-content">
        <h2 class="process-title">
          TO ORDER YOUR <span class="highlight">VEGETABLE</span> BASKET, SIMPLY
          FOLLOW THESE <span class="highlight">EASY STEPS</span>
        </h2>
        <p class="process-text">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
        <ol class="process-list">
          <li class="process-item">
            <div class="process-step">
              <div class="step-number"></div>
            </div>
            <p class="process-desc">
              Just choose the <b class="fat">vegetable</b> you want to order by
              clicking on the checkboxes <b class="fat">next to it.</b>
            </p>
          </li>
          <li class="process-item">
            <div class="process-step">
              <div class="step-number"></div>
            </div>
            <p class="process-desc process-second">
              Click on <b class="fat">the basket</b> and fill out the form.
            </p>
          </li>
          <li class="process-item">
            <div class="process-step">
              <div class="step-number"></div>
            </div>
            <p class="process-desc process-third">
              Sit back and relax! Your
              <b class="fat">fresh vegetables</b> basket will be delivered.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

