<section class="shiping">
  <div class="container shiping-conteiner">
    <div class="shiping-image">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            /project-fs116-01/src/img/images/shiping/desk.png    1x,
            /project-fs116-01/src/img/images/shiping/desk@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /project-fs116-01/src/img/images/shiping/tab.png    1x,
            /project-fs116-01/src/img/images/shiping/tab@2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /project-fs116-01/src/img/images/shiping/mob.png    1x,
            /project-fs116-01/src/img/images/shiping/mob@2x.png 2x
          "
        />
        <img
          class="shiping-image-ilus"
          src="/project-fs116-01/src/img/images/shiping/desk.png"
          alt="ilustration"
          width="500"
        />
      </picture>
    </div>

    <div class="shiping-text">
      <p>
        THE BEST SHIPPING FOR YOU!
        <span class="green">YOUR PRODUCTS</span> ALWAYS ARRIVE IN THE
        <span class="red">BEST</span> CONDITIONS!
      </p>
    </div>
  </div>
</section>
