<section class="shiping">
  <div class="container">reviews
   <svg class="icon" width="100" height="100">
     <use href="/img/images/symbo-shiping-tab-sih-defs.svg#icon-ckuter-t"></use>
    </svg>
     <svg class="icon" width="100" height="100">
       <use href="/img/images/symbol-shiping-deck-defs.svg#icon-boll-deck"></use>
      </svg>
      <svg class="icon" width="100" height="100">
        <use href="/img/images/symbol-shiping-defs.svg#icon-Man_and_couriers"></use>
      </svg>
   </svg> 
  </div>
</section>