
<section class="vegetables">
  <div class="container">
    <h4 class="vegetables-title">organic
      <span class="veg-title-part">vegetables</span> </h4>
    <p class="vegetables-description">Our organic vegetables are hand-picked from local farms and delivered straight to your
      doorstep, ensuring that you get
      the freshest and most nutritious produce possible.</p>
    <ul class="vegetables-list">
      <!--1 картка-->
      <li class="vegetabl-item">
        <div class="product">
          <h5 class="vegetables-name">eggplant</h5>
          <p class="vegetable-price">60 USD / kg</p>
          <div>
            <img src="/img/images/eggplant/eggplant-mobil@1x.png" srcset="" width="" alt="eggplant">
          </div>
        </div>
      </li>
      <!--2 картка-->
      <li class="vegetabl-item">
        <div class="product">
          <h5 class="vegetables-name">leek</h5>
          <p class="vegetable-price">50 USD / kg</p>
          <div>
            <img src="/img/images/leek/leek-mobile@1x.png" width="" alt="leek">
          </div>
        </div>
      </li>
      <!--3 картка-->
      <li class="vegetabl-item">
        <div class="product">
          <h5 class="vegetables-name">mushrooms</h5>
          <p class="vegetable-price">40 USD / kg</p>
          <div>
            <img src="/img/images/mush/mush-mobile@1x.png" width="" alt="mushrooms">
          </div>
        </div>
      </li>
      <!--4 картка-->
      <li class="vegetabl-item">
        <div class="product">
          <h5 class="vegetables-name">corn</h5>
          <p class="vegetable-price">60 USD / kg</p>
          <div>
            <img src="/img/images/corn/corn-mobil@1x.png" width="" alt="">
          </div>
        </div>
      </li>
      <!--5 картка-->
      <li class="vegetabl-item">
        <div class="product">
          <h5 class="vegetables-name">sweet potatoes</h5>
          <p class="vegetable-price">40 USD / kg</p>
          <div>
            <img src="/img/images/beet/beet-mobil@1x.png" width="" alt="">
          </div>
        </div>
      </li>
      <!--6 картка-->
      <li class="vegetabl-item">
        <div class="product">
          <h5 class="vegetables-name">carrot</h5>
          <p class="vegetable-price">40 USD / kg</p>
          <div>
            <img src="/img/images/corrot/carrot-mobi@1x.png" width="" alt="">
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>


