<section class="your-order">
  <div class="container your-order-container">
    <div class="your-order-textform-cont">
      <h2 class="your-order-title">
        Fresh <span class="your-order-title-harvest">Harvest</span> Box has got
        you covered
      </h2>
      <p class="your-order-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
      <div class="your-order-form-cont">
        <p class="your-order-form-text">
          Ordering <span class="form-text-span-from-us">from us</span> is quick
          and easy! Fill out
          <span class="form-text-span-the-from">the form</span> below and we
          will contact you !
        </p>
        <form class="your-order-form">
          <input
            class="your-order-form-input"
            type="text"
            name="full-name"
            id="full-name"
            placeholder="Full Name"
            required
            minlength="3"
          />
          <input
            class="your-order-form-input"
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
          <textarea
            class="your-order-form-input"
            name="user-comment"
            id="user-comment"
            placeholder="Comment"
            required
            minlength="10"
            maxlength="500"
          ></textarea>
          <button class="your-order-form-btn" type="submit">Send</button>
        </form>
      </div>
    </div>
    <div class="your-order-soc-cont">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/images/juice/juice-desk@1x.jpg 1x,
            /img/images/juice/juice-desk@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/images/juice/juice-tabl@1x.jpg 1x,
            /img/images/juice/juice-tabl@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/images/juice/juice-mobil@1x.jpg 1x,
            /img/images/juice/juice-mobil@2x.jpg 2x
          "
        />
        <img
          class="your-order-image"
          src="/img/images/juice/juice-tabl@1x.jpg"
          alt="juice"
          width="536"
        />
      </picture>
      <p class="your-order-soc-text">Follow us on our social networks:</p>
      <ul class="your-order-soc-list">
        <li class="your-order-soc-list-item">
          <a
            class="your-order-soc-item-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >instagram</a
          >
        </li>
        <li class="your-order-soc-list-item">
          <a
            class="your-order-soc-item-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >facebook</a
          >
        </li>
        <li class="your-order-soc-list-item">
          <a
            class="your-order-soc-item-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            >youtube</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
