/* .container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
} */

/* .discount-section {
  background-color: #fbfbfb;
  align-items: center;
  margin: 0 auto;
  padding: 80px 20px;
} */

.advh2 {
  display: none; 
}

.advertisement-text {
  color: #141414;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  text-align: left;
  padding-top: 80px;
  padding-bottom: 80px;
}

.text-span {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.05;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  border-radius: 12px;
  max-width: 335px;
  background-color: #576f35;
  display: flex;
  justify-content: flex-start;
}

/*******---------- tablet -----------********/
@media only screen and (min-width: 768px) {
 

  .discount-section {
    max-width: 768px;
    
  }

  .text-span {
    min-width: 675px;
    font-size: 64px;
   
    
    line-height: 1.05;
  }

  .advertisement-text {
    min-width: 704px;
    font-size: 64px;
    line-height: 1.08;
    padding-top: 100px;
    padding-bottom: 100px;

  }
}
/*******---------- desktop -----------********/
@media only screen and (min-width: 1280px) {
  /* .container {
    max-width: 1280px;
  } */
/* 
  .discount-section {
    max-width: 1280px;
    padding: 100px 0px;
  } */

  .advertisement-text {
    min-width: 1054px;
    font-size: 76px;
    line-height: 1;
    
    letter-spacing: -0.015em;
    text-align: left;
  }

  .text-span {
    white-space:nowrap;
    padding: 4px 0 0 16px;
    min-width: 808px;
    font-size: 76px;
    line-height: 1;
  }
}
