:root {
  /* font-family: Robotto Semibold,Robotto Medium,Robotto Bold; second:Inter Tight Medium, Inter tight Semibold,Inter Tight Bolt,sans-serif; */
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fafafa;
  color: #2a2a2a;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
}
main {
  flex-grow: 1;
}
main {
  text-align: center;
}
