/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  
}
/* Styles for Mobile devices-flexible */
@media only screen and (min-width:320px) and (max-width:375px) 
{
 
}
/* Styles for Mobile devices-adaptive */
@media only screen and (min-width:375px) and (max-width:768px) 
{
  .container {
    min-width: 375px;
    max-width:768px ;
    padding: 0 32px;
    margin: 0 auto;
        }
}

/* Styles for Tablet devices */
@media only screen and (min-width:768px) and (max-width:1280px)
{
  .container {
    min-width: 768px;
    max-width:1280px ;
    padding: 0 32px;
    margin: 0 auto;
   
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
    padding: 0 100px;
    margin: 0 auto;
    
  }
}
