 advertisement-1
Styles for Mobile devices .container {

.container {
 main
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
 advertisement-1
  /* background-color: blue; */
}
/* Styles for Mobile devices-flexible */
@media only screen and (min-width: 320px) and (max-width: 375px) {
  body {
    /* background-color: rgb(43, 198, 226); */
  }
}
/* Styles for Mobile devices-adaptive */
@media only screen and (min-width: 375px) and (max-width: 768px) {
  .container {
    min-width: 375px;
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
    /* background-color: brown; */
  }
 main
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    min-width: 768px;
advertisement-1
    max-width: 1280px;
    padding: 0 32px;
    margin: 0 auto;
    /* background-color: chartreuse; */

    max-width:768px ;
    padding: 0 32px;

 main
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
 advertisement-1
    padding: 0 100px;
    margin: 0 auto;
    /* background-color: blueviolet; */
  }
}

    padding: 0 100px;}}
    
 main
