/*FOOTER*/
.footer-container{
    max-width:375px; 
    background-color: #7a3145;
    color:#fbfbfb;
    padding: 40px 20px;
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 80px;
}
.footer-wrap{
    display: flex;
    flex-direction: column;
    gap:40px;}
.logo-icon{
    fill:#fbfbfb;
}
.footer-logo-cont{
    display:flex;
    flex-direction: column;
    width:335px;
    gap:14px;
}
.footer-nav-cont{
    display:flex;
    flex-direction: column;
    width:227px;
    gap:40px;
}
.footer-nav-wrap{
    width:227px;
}
.footer-nav-list{
    display: flex;
    flex-direction: column;
    gap:14px;
}
.footer-nav-link{
    font-weight: 600;
font-size: 32px;
line-height: 1;
letter-spacing: -0.01em;
text-transform: uppercase;
}
.contacts{
    width:215px;
}
.address-list{
    display: flex;
flex-direction: column;
gap: 14px;
}
.address-link{
    font-weight: 700;
font-size: 14px;
line-height: 1.4;
}
.privacy-policy-cont{
    width:335px;
    display: flex;
flex-direction: column;
justify-content: space-between;
}
.privacy-policy-list{
    display:flex;
    flex-direction: column;
    gap:16px;
}
.privacy-policy-item{
display: flex;
flex-direction: row;
gap: 8px;
}
.privacy-policy-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: #d4bfc4; 
}

@media only screen and (min-width:768px) and (max-width:1280px)
{
  .footer-container {
    min-width: 768px;
    max-width:1280px ;
    padding: 32px;
    flex-direction:row;
    gap:100px;
    flex-wrap: wrap;
  }
  .footer-wrap{
    flex-direction: row;
    gap:212px;
}
.footer-logo-cont{
    width:265px;
    gap:24px;
}
.footer-nav-cont{
    gap:64px;
}
.address-list{
    gap:24px;
}
.address-link{
font-size: 16px;
line-height: 1.25;
}
.privacy-policy-cont{
    width:704px;
}
.privacy-policy-list{
    flex-direction: row;
    gap:318px;
}
.privacy-policy-text{
    font-size: 16px;
    line-height: 1.25; 
}
}
@media only screen and (min-width:1280px){
    .footer-container{
        max-width:1280px;
        padding: 52px 100px;
        flex-wrap: nowrap;
}
.footer-wrap{
    flex-direction: row;
    gap:250px;
}
.footer-logo-cont{
    width:265px;
}
.footer-nav-cont{
    width:565px;
    flex-direction: row;
    gap:121px;
}
.footer-nav{
    width:228px;
}

.privacy-policy-cont{
    width:1080px;
}
.privacy-policy-list{
    flex-direction: row;
justify-content: space-between;
}
}
   