/*FOOTER*/
/* .container{
    min-width:320px;
    max-width:375px; 
    margin:0 auto;
    padding:0 20px;
} */
.footer{
    background-color: #7a3145;
}
.footer-container{ 
    background-color: #7a3145;
    color:#fbfbfb;
    /* padding: 40px 20px; */
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 40px;
}

.logo-icon{
    fill:#fbfbfb;
}
.footer-wrap{
    display: flex;
    flex-direction: column;
    gap:40px;
}
.footer-logo-cont{
    display:flex;
    flex-direction: column;
    max-width:335px;
    gap:14px;
    text-align: left;
}
.footer-text{
font-weight: 500;
font-size: 14px;
line-height: 1.4;
}
.footer-nav-wrap{
    width:228px;
    display: flex;
    flex-direction: column;
    gap:40px;
}
.footer-nav{
    width:228px;
    display:flex;
    flex-direction: column;
    gap:40px;
}

.footer-nav-list{
    display: flex;
    flex-direction: column;
    gap:14px;
    text-align: left;
}
.footer-nav-item{
font-weight: 600;
font-size: 32px;
line-height: 1;
letter-spacing: -0.01em;
text-transform: uppercase;
}

.address{
    max-width:215px;
    text-align: left;
}
/* .address-list{
display: flex;
flex-direction: column;
gap: 14px;
text-align: left;

} */
.address-tel{
    font-weight: 700;
font-size: 14px;
line-height: 1.4;
margin-bottom: 14px;
color:  #fbfbfb;;

}
.address-post{
max-width: 179px;
font-weight: 700;
font-size: 14px;
line-height: 1.4;
color: #fbfbfb;;

}
.privacy-policy-cont{
    max-width:335px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
}
.privacy-policy-list{
    display:flex;
    flex-direction: column;
    gap:16px;
}
.privacy-policy-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: #d4bfc4; 
}

@media only screen and (min-width:768px)
{
    /* .container {
        max-width: 768px;
        padding: 0 32px; 
    } */
  .footer-container {
    max-width: 768px;
    /* padding: 32px; */
    /* flex-direction:row; */
    /* gap:100px; */
    flex-wrap: wrap;
  }
  .footer-wrap{
    /* flex-direction: row; */
    /* gap:212px   */
}
.inner{
    display: flex;
}
.footer-logo-cont{
    max-width:265px;
    gap:24px;
     display:flex;
    flex-direction: column;
    max-width:265px;
    
}
.footer-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    }
.footer-nav-wrap{
    gap:64px;
    }
.footer-nav-list{
    gap:24px; 
}
.address-list{
    gap:24px;
}
.address-item{
font-size: 16px;
line-height: 1.25;
}
.privacy-policy-cont{
    max-width:704px;
}
.privacy-policy-list{
    flex-direction: row;
    gap:318px;
}
.privacy-policy-text{
    font-size: 16px;
    line-height: 1.25; 
}
}
@media only screen and (min-width:1280px){
.container{
         max-width:1280px;
        padding: 0 100px;
} 
.footer-container{
        max-width:1280px;
        padding: 52px 100px;
        flex-wrap: wrap;
}
.footer-wrap{
    /* flex-direction: row; */
    gap:250px;
}
.footer-logo-cont{
    max-width:265px;
}
.footer-nav-wrap{
    width:565px;
    flex-direction: row;
    gap:121px;
}
.footer-nav{
    width:228px;
}
.contacts{
    max-width: 216px;
}
.privacy-policy-cont{
    max-width:1080px;
    
}
.privacy-policy-list{
gap:686px;
}
    }
   