
.header {
    position: absolute;
    width: 100%;
}

.mobile-nav {
    padding-top: 20px;
    display: flex;
}

.logo-link {
    display: flex;
    align-items: center;
    fill: white;
}

.header-list {
    display: none;
}

.header-btn {
    display: none;
}

.grn-dots {
    margin-right: 4px;
}

.nav-stroke {
    fill: transparent;
    stroke: white;
    margin-left: auto;
}



@media only screen and (min-width:768px) {
    .mobile-nav {
        padding-top: 32px;
    }

    .grn-dots {
        margin-right: 9px;
    }
}

@media only screen and (min-width: 1280px) {
 
    .nav-stroke {
        display: none;
    }

    .shapka {
        padding-top: 48px;
        display: flex;
        align-items: center;
    }

    .header-list {
        display: flex;
        gap: 8px
    }

    .header-nav-a1 {
        border: 1px solid #fbfbfb;
        border-radius: 12px;
        padding: 12px;
        width: 118px;
        height: 44px;
        color: #fbfbfb !important;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        text-align: center;
        white-space: nowrap;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-a2 {
        border: 1px solid #fbfbfb;
        border-radius: 12px;
        padding: 12px;
        width: 104px;
        height: 44px;
        color: #fbfbfb !important;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        text-align: center;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-a3 {
        border: 1px solid #fbfbfb;
        border-radius: 12px;
        padding: 12px;
        width: 83px;
        height: 44px;
        color: #fbfbfb !important;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        text-align: center;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-a1:focus,
    .header-nav-a2:focus,
    .header-nav-a3:focus {
        background-color: #FBFBFB;
        color: #7A3145 !important;
    }

    .header-nav-a1:hover,
    .header-nav-a2:hover,
    .header-nav-a3:hover {
        background-color: #D4BFC4;
        color: #7A3145 !important;
        border: none;
    }

    .header-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        white-space: nowrap;
        border-radius: 30px;
        padding: 16px 32px;
        width: 157px;
        height: 52px;
        background-color: #7a3145;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.11111;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

        .header-btn:focus {
            background-color: #FBFBFB;
            color: #7A3145;
        }
    
        .header-btn:hover {
            background-color: #D4BFC4;
            color: #7A3145;
        }
    
        .nav-btn {
            display: flex;
            align-items: center;
            margin-left: auto;
            gap: 20px;
            padding-top: 32px;
        }
/*mobil menu*/



.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #576F35;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding-bottom: 52px;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.menu-close {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-top: 20px;
}
.icon-close {
  stroke: white;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.mob-menu-item {
  border: 1px solid white;
  border-radius: 12px;
  padding: 12px;
  width: 118px;
  height: 44px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}
.mob-menu-item:active {
  background-color: white;
  color: #7A3145;
}
.menu-nav-mob {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
}
.btn-shop {
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  padding: 16px 41px;
  width: 175px;
  height: 52px;
  background-color: #7A3145;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: white;
  text-align: center;
  text-wrap: nowrap;
}
.btn-shop:active {
  background-color: white;
  color: #7A3145;
}
  @media only screen and (min-width: 768px) {
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mob-menu {
    visibility: visible;
    opacity: 1;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 417px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
  visibility: hidden;
  pointer-events: none;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mob-menu {
    width: 351px;
    left: 417px;
    padding-bottom: 48px;
  }
  .icon-close {
    width: 40px;
    height: 40px;
  }
  .menu-close {
    margin-right: 32px;
    margin-top: 32px;
  }
  .mob-menu-item {
    width: 121px;
  }
  .menu-nav-mob {
    font-size: 16px;
    line-height: 125%;
  }
}
        }
        @media only screen and (min-width: 1280px)
        