/* 
/* MOB */
/* 
.hero {
    padding-top: 100px;
    background-color: #576F35;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* position: relative; */
/* } */

.hero-title {
    max-width: 335px;
    text-align: start;
    font-weight: 600;
    font-size: 52px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFBFB;
    margin-bottom: 20px;
}

.hero-text {
    max-width: 335px;
    text-align: start;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #FBFBFB;
    padding-bottom: 40px;
}

.hero-image {
    background-image: url("/img/images/backet/backet-mobi@1x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 375px;
    min-height: 372px;
}

@media only screen and (min-resolution: 2x),
(-webkit-min-device-pixel-atio: 2x) {
    .hero-image {
        background-image: url("/img/images/backet/backet-mobi@2x.jpg");
    }
}

@media only screen and (max-width:375px) {
    .hero-image {
        width: 100%;
    }
}

@media only screen and (max-width:350px) {
    .hero-title {
        font-size: 45px;
    }

    .hero-text {
        font-size: 12px;
    }
}

/* TABLET */

@media only screen and (min-width: 768px) {
    .hero {
        padding-top: 120px;
    }

    .hero-title {
        max-width: 704px;
        font-size: 76px;
    }

    .hero-text {
        max-width: 603px;
        font-size: 16px;
        line-height: 1.25;
    }

    @media only screen and (min-width: 768px) {
        .hero-image {
            background-image: url("/img/images/backet/backet-tabl@1x.jpg");
            width: 768px;
            min-height: 536px;
        }
    }

    @media only screen and (min-resolution: 2x),
    (-webkit-min-device-pixel-atio: 2x) {
        .hero-image {
            background-image: url("/img/images/backet/backet-tabl@2x.jpg");
        }
    }
}

/* DESKTOP */

@media only screen and (min-width: 1280px) {
    .container.hero-container {
        padding-left: 100px;
        padding-right: 38px;
        width: 50%;
    }

    .hero {
        height: 796px;
        padding-top: 0;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .hero-title {
        max-width: 502px;
        padding-top: 232px;
        margin-bottom: 128px;
    }

    .hero-text {
        max-width: 472px;
        padding-bottom: 52px;
    }

    .hero-image {
        background-image: url("/img/images/backet/backet-des@1x.jpg");
        width: 50%;
        min-height: 796px;
        background-size: contain;
    }

    @media only screen and (min-resolution: 2x),
    (-webkit-min-device-pixel-atio: 2x) {
        .hero-image {
            background-image: url("/img/images/backet/backet-des@2x.jpg");
        }
    }

    @media only screen and (min-width:1500px) {
        .hero-title {
            max-width: 100%;
            font-size: 76px;
            padding-top: 200px;
            margin-bottom: 80px;
        }

        .hero-text {
            max-width: 100%;
            font-size: 26px;
        }
    }

} 

 
