/* .reviews {
    padding-top: 100px;
    padding-bottom: 100px;
}

.reviews-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    max-width: 553px;
    margin-bottom: 24px;
}

.reviews-highlight {
    color: #576f35;
}


.reviews-title-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #141414;
    max-width: 553px;
    margin-bottom: 52px;
}

.reviews-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #141414;
    margin-bottom: 8px;
}

.reviews-customers {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #858585;
}


.reviews-list {
    display: flex;
    gap: 24px;
}

.reviews-items {
    border: 1px solid #d4bfc4;
    border-radius: 24px;
    padding: 20px 16px;
    width: 344px;
    min-height: 248px;
}

.reviews-img {
    border-radius: 100px;
    margin: 0 auto;
} */

.reviews {
  padding-top: 80px;
  padding-bottom: 80px;
}
.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: left;
  color: #141414;
  margin-bottom: 20px;
}

.reviews-highlight {
  color: #576f35;
}

.reviews-title-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
  text-align: left;
  max-width: 335px;
  margin-bottom: 40px;
}

.reviews-items {
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  padding: 20px 16px;
  max-width: 335px;
  min-height: 228px;
}

.reviews-img {
  margin: 0 auto 24px;
  border-radius: 100px;
}

.reviews-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
  margin-bottom: 8px;
}

.reviews-customers {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #858585;
}

.reviews-items-tabb {
  display: none;
}

.reviews-items-mob {
  display: none;
}

@media only screen and (min-width: 768px) {
  .reviews {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .reviews-title {
    max-width: 553px;
    font-size: 64px;
    line-height: 1;
  }

  .reviews-title-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 553px;
    margin-bottom: 52px;
  }

  .reviews-items-tabb {
    display: block;
  }

  .reviews-list {
    display: flex;
    gap: 24px;
  }
  .reviews-customers {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
  }
  .reviews-items {
    padding: 20px 20px;
    max-width: 340px;
    min-height: 248px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-items-mob {
    display: block;
  }
  .reviews-list {
    justify-content: space-evenly;
  }
}
