.shiping {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}

.shiping-image {
  max-width: 100%;
  height: auto;
}
.shiping-text {
  font-family: Roboto, Inter Tight, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.shiping-text .green {
  color: #6b7f3e;
}

.shiping-text .red {
  color: #8a3c45;
}

@media only screen and (min-width: 768px) {
  .shiping-conteiner {
    text-align: center;
  }
  .shiping-image {
    margin-left: 116px;
  }
  .shiping-text {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.05px;
    text-align: center;
    margin-top: 75px;
    margin-right: 116px;
    margin-left: 116px;
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .shiping-conteiner {
    align-items: center;
  }
  .shiping-image {
  }
  .shiping-text {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 84px;
    margin-bottom: 84px;
    justify-content: flex-start;
    align-items: center;
  }
}
