.vegetables {
    padding: 80px 0;
    background-color: #7A3145;
}
@media only screen and (min-width: 768px) {
    .vegetables {
        padding: 100px 0;
    }
}

@media only screen and (min-width: 1280px) {
    .vegetables {
        padding: 100px 0;
    }
}
.vegetables-title {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -0.015em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FBFBFB;
}
.veg-title-part {
    color: #D4BFC4;
}
@media only screen and (min-width: 768px) {
    .vegetables-title {
        font-size: 64px;
        line-height: 1;
        margin-bottom: 24px;
        display: block;
    }
    .veg-title-part {
        display: block;
    }
}

@media only screen and (min-width: 1280px) {
    .vegetables-title {
        font-size: 64px;
        line-height: 1;
        margin-bottom: 24px;
        display: block;
    }
    .veg-title-part {
        display: block;
    }
}
.vegetables-description {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    text-align: left;
    margin-bottom: 40px;
    color: #FBFBFB;
    max-width: 335px;
}

@media only screen and (min-width: 768px) {
    .vegetables-description {
        max-width: 626px;
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 52px;
    }
}
@media only screen and (min-width: 1280px) {
    .vegetables-description {
        max-width: 626px;
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 52px;
    }
}
.vegetabl-item {
        flex: 1 1 100%;
}
@media only screen and (min-width: 768px) {
    .vegetabl-item {
        width: calc((100% - 100px) / 2);
        flex: 1 0 340px;
    }
}

@media only screen and (min-width: 1280px) {
    .vegetabl-item {
        width: calc((100% - 100px) / 3);
        flex: 1 0 344px;
    }
}

.vegetables-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    list-style: none;
    text-align: left;
}
@media only screen and (min-width: 768px) {
    .vegetables-list {
        gap: 24px;
        row-gap: 28px;
        width: 100%;
    }
}

@media only screen and (min-width: 1280px) {
    .vegetables-list {
        gap: 24px;
        row-gap: 28px;
        width: 100%;
}
}

.product {
    background: #FBFBFB;
    border-radius: 40px;
    text-align: left;
    position: relative;
    padding: 32px 24px;
}
.vegetables-name {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: #7A3145;
}
@media only screen and (min-width: 768px) {
.vegetables-name {
    font-size: 28px;
    line-height: 1;
}
}

@media only screen and (min-width: 1280px) {
.vegetables-name {
    font-size: 28px;
    line-height: 1;
}
}
.vegetable-price {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
    .vegetable-price {
        font-size: 16px;
        line-height: 1.25;
    }
}

@media only screen and (min-width: 1280px) {
    .vegetable-price {
        font-size: 16px;
        line-height: 1.25;
    }
}
